{% extends "stampo.htm" %}
{% block title %}Modifica materia - Condivisione{% endblock %}
{% block content %}
    <h1>Modifica materia</h1>
    <form action="/materia_edit/{{ materia.mid }}" method="POST">
        <div class="form-group">
            <label for="nome">Nome della materia</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome materia" name="nome"
                   value="{{ materia.nome }}">
        </div>
        <div class="form-group">
            <label for="prof">Nome del professore</label>
            <input type="text" class="form-control" id="prof" placeholder="Professore della materia" name="professore"
                   value="{{ materia.professore }}">
        </div>
        <div class="form-group">
            <label class="col-xs-2" for="form-tipo">Ora e giorno della settimana</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" placeholder="13:00" name="ora" pattern="[0-9]{2}:[0-9]{2}">
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" id="giorno" name="giorno">
                <option value="1">Lunedì</option>
                <option value="2">Martedì</option>
                <option value="3">Mercoledì</option>
                <option value="4">Giovedì</option>
                <option value="5">Venerdì</option>
                <option value="6">Sabato</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
{% endblock %}