*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

/* header h1{
    color: blueviolet;
    text-align: center;
    font-size: 50px;
}

header{
    padding: 30px;
    background-color: rgb(226, 253, 253);
} */

/* .navbar{
    background-color: cornsilk;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    padding: 20px 40px;
    text-align: center;
    color: darkblue;
    font-size: 22px;
    font-weight: bold;
}

.navbar a:hover{
    font-size: 24px;
    cursor: default;
    color: blue;
} */

/* .home{
    float: left;
} */

/* .customer{
    float: right;
} */
/* ok */
.heading h2{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
/* ok */
.main div p{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}
/* ok */
.home-button{
    margin: 20px auto;
    padding: 10px 30px;
    float: left;
}
/* ok */
table{
    width: 100%;
}
/* ok */
.main {
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
/* ok */
.main td, .main th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
/* ok */
.main tr:nth-child(even){background-color: #f2f2f2;}
/* ok */
.main tr:hover {background-color: #ddd;}
/* ok */
.main th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}
/* ok */
#transfer{
    margin: 0%;
}
/* ok */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 5px #999;
}
/* ok */
.button:hover{
    color: black;
    cursor: pointer;
}
/* ok */
.button:active {
    background-color: rgb(83, 216, 31);
    box-shadow: 0 5px gray;
    transform: translateY(2px);
}
/* ok */
.trans_from{
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    text-align: center;
    border-radius: 7px;
    background-color: lightcyan;
}
/* ok */
.dropdown, .fromClass input[type="text"],select{
    padding: 10px;
    font-size: 18px;
    width: 60%;
    text-align: center;
}
/* ok */
.create{
    text-align: center;
    margin: auto;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 80%;
}
/* ok */
input[type="text"],
input[type="email"],
input[type="number"]{
    width: 99%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 5px;
}

#amount{
    width: 60%;
    text-align: center;
}
/* ok */
#button-submit{
    background-color: cornflowerblue;
    color: darkred;
    font-size: 25px;
    font-style: bold;
    font-family: ubuntu;
    width: 80%;
    margin: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px rgb(228, 126, 126);
}
/* ok */
#button-submit:hover{
    color: black;
    cursor: pointer;
    background-color: rgb(60, 123, 240);
}
/* ok */
#button-submit:active {
    background-color: rgb(83, 216, 31);
    box-shadow: 0 5px rgb(214, 72, 72);
    transform: translateY(2px);
}