{% extends "stampo.htm" %}
{% block title %}Registrazione - Condivisione{% endblock %}
{% block content %}
    <form action="/user_edit/{{ utente.uid }}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="username" placeholder="Email" value="{{ entita.username }}"
                       name="username" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password"
                       value="{{ entita.password }}" name="password">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome" class="col-form-label">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Mario" name="nome"
                       value="{{ entita.nome }}" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="cognome" class="col-form-label">Cognome</label>
                <input type="text" class="form-control" id="cognome" placeholder="Rossi" name="cognome"
                       value="{{ entita.cognome }}" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="usernameTelegram" class="col-form-label">Username di Telegram</label>
                <input type="text" class="form-control" id="usernameTelegram" placeholder="@iltuousername"
                       name="usernameTelegram" value="{{ entita.telegram_username }}">
                <small id="emailHelp" class="form-text text-muted">Non hai telegram? Scaricalo per <a
                        href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=it">Android</a>,
                    <a href="https://itunes.apple.com/it/app/telegram-messenger/id686449807?mt=8">iOS</a> o usalo dal
                    tuo <a href="https://web.telegram.org/">PC</a>.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="mailGenitori" class="col-form-label">Email genitore</label>
                <input type="email" class="form-control" id="mailGenitori" placeholder="genitore@qualcosa.qualcosaltro"
                       name="mailGenitori" value="{{ entita.emailgenitore }}">
                <small id="emailHelp" class="form-text text-muted">Se l'account non è per un utente comune, re-inserisci
                    la tua mail.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="classe" class="col-form-label">Classe</label>
                <input type="text" class="form-control" id="classe" placeholder="5F" name="classe"
                       value="{{ entita.classe }}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Aggiorna</button>
            </div>
        </div>
    </form>
{% endblock %}