<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Covid-19 Prediction</title>
    <style>
        /* Various CSS stylings added  */
        body {
            background-color: #fad2e1;
        }
        
        form {
            width: 1000px;
            border: 1px solid gray;
            padding: 20px;
            margin-bottom: 20px;
            font-size: 22px;
        }
        
        h1 {
            color: #ef476f;
        }
        
        input {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="login">
        <!-- Main Heading added -->
        <h1>Know If You Are Affected By Covid-19 Or Not</h1>
        
        <!-- Form Code Starts which takes 4 features as input -->
        <!-- The 4 features are - Dry Cough Rate, Fever Rate, Sore Throat Rate, Breathing Problem Rate -->
        <form action="/ci" method="post">
            <div class="mb-3">
                Enter Dry Cough Rate
                <input type="text" name="drycough" max="20" min="0" placeholder="Enter a number in 0-20" required="required" />
            </div>
            <br>
            <div class="mb-3">
                Enter Fever Rate
                <input type="text" name="fever" max="20" min="0" placeholder="Enter a number in 0-20" required="required" />
            </div>
            <br>
            <div class="mb-3">
                Enter Sore Throat Rate
                <input type="text" name="sorethroat" max="20" min="0" placeholder="Enter a number in 0-20" required="required" />
            </div>
            <br>
            <div class="mb-3">
                Enter Breathing Problem Rate
                <input type="text" name="breathingprob" max="20" min="0" placeholder="Enter a number in 0-20" required="required" />
            </div>
            <br>

            <input type="submit" class="btn btn-primary btn-block btn-large" value="Predict">
        </form>

        <br>
        <br> 
        <!-- The variable which stores and displays the prediction to the user -->
        {{ prediction_text2 }}

    </div>


</body>

</html>
