{% extends "stampo.htm" %}
{% block title %}Pagina non trovata - Condivisione{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">:(</h1>
        <p class="lead">Siamo spiacenti, ma la pagina che stai cercando non esiste su Condivisione.</p>
        <hr class="my-4">
        <p>Segue una descrizione dell'errore</p>
        <div class="alert alert-danger" role="alert">
            <strong>404</strong>: Pagina non trovata. Verificare l'indirizzo inserito o contattare uno degli amministratori.
        </div>
        <a href="/dashboard">Torna alla schermata principale</a>
    </div>
{% endblock %}