{% extends "stampo.htm" %}
{% block title %}Bug - Condivisione{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Bug</h1>
        <p class="lead">s. ingl. (propr. «cimice»; pl. bugs), usato in ital. al masch. <br>1. Errore di progettazione o di programmazione di un computer, detto anche baco. <br>2. Cattivo funzionamento di un componente hardware.<br><i>Definizione di Bug, vocabolario Treccani</i></p>
        <hr class="my-4">
        <p>Segue una descrizione dell'errore</p>
        <div class="alert alert-danger" role="alert">
            {% if e %}
                <strong>500</strong>: {{ e }}
            {% else %}
                <strong>500</strong>: Errore del server con debugger disattivo. Siete pregati di segnalare questo errore a <a href="mailto:lorenzo.balugani@gmail.com">Lorenzo Balugani</a>.
            {% endif %}
        </div>
        <a href="/dashboard">Torna alla schermata principale</a>
    </div>
{% endblock %}