{% extends 'base.html' %}

{% block head %}
<title>faddaiMotors - Inventory</title> 
{% endblock %}

{% block body %}

<header>
    <div class="Navigation">
        <h1 class="logo-text"><span>faddai</span>Motors</h1>
        <nav>
            <ul class="nav_links">
                <li><a href="/">HOME</a></li>
                <li><a href="{{url_for('inventory')}}">INVENTORY</a></li>
                <li><a href="{{url_for('Autoparts')}}">AUTO PARTS</a></li>
            </ul>
        </nav>
        <a class="cta" href="{{url_for('contact')}}"><button>contact</button></a>
        </div>
</header>
    <br>
    <br>
    <br>

    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h1 class="logo-text"><span>faddai</span>Motors</h1>
                <p>
                    faddaiMotors is an Accra based dealership with both new and used cars that gives its
                    customers unmatched service with a knowledgeable staff.
                </p>
                <div class="contacts">
                    <span><i class="fas fa-phone"></i>&nbsp; 024-200-2602</span>
                    <span><i class="fas fa-envelope"></i>&nbsp; info@faddaiMotors.com</span>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-section links">
                <h2>Quick Links</h2>
                <br>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="#"><li>Inventory</li></a>
                    <a href="{{url_for('Autoparts')}}"><li>Autoparts & Supports</li></a>
                    <a href="#"><li>Terms</li></a>
                    <a href="#"><li>Hours</li></a>
                </ul>
            </div>
            <div class="footer-section contact-form">
                <h2>Contact Us</h2>
                <br>
                <form action="home.html" method="post">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address!">
                    <textarea rows="2" name="message" class="text-input contact-input" placeholder="Your message......"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <i class="fas fa-envelope"></i>
                        Send
                    </button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            copyright &copy;, 2019 faddaiMotors. || All right reserved.
        </div>
    </div> 
    <marquee class="logo-text"><span>faddai</span>Motors, thanks for your time❤️.........</marquee>
{% endblock %}