<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File IPFS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <div class="notification is-danger">
            <a href="/" class="delete"></a>
            {{ message }}
        </div>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</head>
<body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a target="_blank" class="navbar-item" href="https://docs.ipfs.io/concepts/what-is-ipfs/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Ipfs-logo-1024-ice-text.png/120px-Ipfs-logo-1024-ice-text.png?20180220024806" width="30" height="40">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Files</a>
                <a href="/find" class="navbar-item">Search</a>
                <a href="/verifier" class="navbar-item">File Verifier</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">More</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Pinned</a>
                        <a class="navbar-item">Unpinned</a>
                        <a class="navbar-item">All</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">Report an issue</a>
                    </div>
                </div>
            </div>
      
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/logout" class="button is-light">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-small">
        <div class="hero-body">
          <p class="title">
            Hello User
          </p>
          <p class="subtitle">
            Have a good day
          </p>
        </div>
      </section>


    <div class="container is-max-widescreen">
        <div class="notification ">
            
            <span class="subtitle">Upload</span>
            <form action = "http://localhost:5000/uploader" method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>
            <div class="box">
                <span class="title">Your File</span>
                <table class="table" width="100%">
                    <tr>
                        <th>Name File</th>
                        <th>Hash</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    {% for file in datas %}
                        <tr>
                            <td>{{file.file_name}}</td>
                            <td>{{file.file_hash}}</td>
                            <td>{{file.date}}</td>
                            <td>
                                <div class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                            <span>More</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="/pin-file?{{ file.hash }}" class="dropdown-item">Pin</a>
                                                <a href="/edit-file?id={{ file.id }}" class="dropdown-item">Edit</a>
                                                <hr class="navbar-divider">
                                                <a href="/delete-file?id={{ file.id }}" class="dropdown-item">Delete</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>